div {
  display: inline-block;
}

.logo {
  margin: 25px 35px 0 30px;

}

.header {
  display: flex;
}

.element1 {
  display: flex;
}

.chevron {
  margin: 26px 15px 0 5px;
}

.menu {
  display: flex;
}

.home {
  margin-right: 15px;
}

.photo-profil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.right-part {
  border: 2px red solid;
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 480px;
}

.logo-right {
  margin-top: 15px;
  height: 20px;
  margin-right: 15px;
}

.username {
  margin-left: 8px;
}

.element2 {
  display: flex;
  margin-top: -10px;
}
