.sidebar {
  width: 260px;
  height: 100%;
  border-right: 2px solid rgb(202, 201, 201);

}


.item1-sidebar {
  height: 50px;
  width: 100%;
  border-bottom: 2px rgb(202, 201, 201) solid;
}


.progress, .progress-bar {
  display: flex;
  justify-content: space-between;
  margin: 3px 5px 5px 10px;
}

.item2-sidebar {
  overflow-y: scroll;
  height: 700px; 
}

.curri {
  margin-left: 10px;
}

.course-name {
 color: #195CCB;
}

.course-group {
  margin-bottom: 20px;
}
.boltsub {
  margin-right: 15px;
}

.sub-of-sub {
  margin-left: 15px;
}

.sub-style {
  margin-top: 18px;
}

/* Style layout body */
.app-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.check-pic {
  display: flex;
  align-items: center;
}


